div {
    border: solid 3px black; /* 해당 요소의 테두리 설정 */
    height: 300px; /* 요소의 높이 설정 */
    font-size: 30px; /* 해당 요소의 글자 크기 설정 */
    margin-bottom: 30px;
}

div:first-of-type {
    /* 배경 이미지 설정 */
    background-image: url("../../resource/image/apple.jpg");

    /* 배경 이미지 크기 설정 (너비, 높이) */
    /* background-size: 200px 150px; */
    background-size: 300px auto; /* 너비만 300px로 설정 */
    /* background-size: auto 300px; /* 높이만 300px로 설정 */

    /*
        # 배경 이미지 반복 설정

        no-repeat: 반복하지 않음
        repeat-x : 가로로만 반복
        repeat-y : 세로로만 반복
        round    : 이미지 크기를 조절하여 요소를 깔끔하게 채우도록 유지
        space    : 이미지 원본 크기를 유지하면서 공백으로 깔끔하게 배치하는 설정
    */
    background-repeat: no-repeat;

    /* 배경 이미지 위치 설정 */
    /* background-position: right bottom; */
    /* background-position: 200px 100px; */ 
    background-position: right 150px;
}

div:nth-of-type(2) {
    background-image: url("../../resource/image/apple.jpg");
    background-size: cover; /* 해당 요소를 100% 채울 수 있는 크기 */
    background-repeat: no-repeat;
    height: 800px;
}

div:nth-of-type(3) {
    background-image: url("../../resource/image/apple.jpg");
    background-size: contain; /* 해당 요소의 이미지를 100% 보여줄 수 있는 크기로 조절 */
    background-repeat: no-repeat;
    height: 500px;
}

div:nth-of-type(4) {
    background-image: url("../../resource/image/apple.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 배경이 고정된다 */
}
