* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: white;
  overflow: hidden;
  margin-top: 30px;
  white-space: nowrap;
}
.nav a {
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
}

.headfont { 
  color: #42446E;
  font-size: 1.5em;
}

.main {
  margin: 0 auto;
  font-size: 30px; 
  color: #666666;
  padding: 0px 10px;
  width: 1000px;
}

.blank{
  height: 150px;
}

.textDiv {
  margin-bottom: 40px;
}

#header {
  display: flex;
  flex-direction: row;
}
#header > div:first-child {
  width: 50%;
  padding: 5px;
}
#header > div:last-child {
  width: 50%;
}
#header > div:last-child > div {
  background-image: url("../../resource/image/portfolio/face.png");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
#header span {
  color: #dd4c35;
}

#stack {
  text-align: center;
}
#skill > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
#skill img {
  width: 150px;
  height: 150px;
}

#projects { 
  text-align: center;
}
#projects > div:nth-child(2) {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  text-align: left;
  gap: 30px;
}

.pj_item {
  height: 550px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.pj_item div {
  border: 1px solid black;
}
.pj_item > div:first-child {
  height: 60%;
  overflow: hidden;
  padding: 5px;
  text-align: center;
}
.pj_item > div:first-child > img {
  height: 100%;
}

#footer > div:first-child {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  font-size: 0.6em;
}
#footer > .blank {
  height: 60px;
}
#footer > .blank > div:first-child{
  border-bottom: solid 1px gray;
  height: 30px;
}
#footer > .nav {
  margin-top: 0;
  margin-bottom: 30px;
}