#out > * {
    box-sizing: border-box;
    border: solid 3px black;
    border-radius: 13px;
    padding: 3px;
    width: 80px;
    height: 80px;
}

#out > :first-child {
    color: red;
    font-size: 20px;
}

#out > :nth-child(even) {
    color: orange;
    font-size: 20px;
}

#out > :last-child {
    color: slateblue;
    font-size: 20px;
}

#out > :hover {
    color: salmon;
    font-size: 25px;
}

#test-link {
    font-size: 30px;
    text-decoration: none;
}

#test-link:link {
    color: black;
}

#test-link:visited {
    color: black;
}

#test-link:hover {
    color: red;
    background-color: black;
}

#test-link:active {
    background-color: black;
    color: yellow;
}